 <div class="col-md-6 mx-auto">
    <h1 class="form-title"><%=@pet.name.capitalize%>'s Profile</h1>

    <%= simple_form_for :pet, url: owner_pet_path(@owner, @pet), html: { method: "patch"} do |f| %>

        <%if @pet.image.attached?%>
            <%= image_tag @pet.image, size: "100x100"%>
        <%else%>
            <%= image_tag ("default_pet_image.jpg"), size: "100x100" %>
        <%end%><br><br>
        <p>Upload new picture</p> 
        <%= f.file_field :image %><br><br>

        <%= f.input :name, readonly: true %>

         <%= render 'pets/pet_info', f: f %> 

        <br><%= f.button :submit, class: "text-white btn bg-blue btn-block shadow-sm", value: "Update Profile" %>

    <%end%>
            
</div>