<div class="row d-flex justify-content-center mt-50 mb-50">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h1 class="form-title">Request Services</h1>
                <%= simple_form_for :job, url: jobs_path, html: { method: "post"} do |f| %>
                    <%= f.hidden_field :owner_id, :value => @user.id %>
                    <%= f.hidden_field :sitter_id, :value => params[:sitter_id] %>

                    <%= render 'jobs/job_info', f: f %> 

                    <br><br><%= f.button :submit, class: "text-white btn bg-blue btn-block shadow-sm", value: "Submit Request" %>

                <%end%>
            </div>
        </div>
    </div>
</div>