<div class="user_type_selection ">
    <div class="h-md-100 align-items-center">
        <div class="text-white align-items-center p-5 text-center justify-content-center">
            <div class="signup-form col-md-4 mx-auto">
                <h1 class="mb-0 mt-4 ">Sign Up</h1><br><br>
                <div class="errors">
                    <%=flash[:message]%>
                </div>

                <%= simple_form_for :user do |f| %>
                    <%= f.input :name %>
                    <%= f.input :email %>
                    <%= f.input :password %>

                    #TODO: verify password field here
                    
                    <h3 class="mb-0 mt-4 ">Choose an option.</h3><br>
                    <%= f.input :type, as: :radio_buttons, collection: user_types, wrapper: :horizontal_collection_inline, label: false %>
                    
                    <br><%= f.button :submit, class: "btn btn-outline-light btn-lg btn-round", value: "Create Profile" %>

                <%end%>
            </div>
        </div>
    </div>
</div>

