<div class="row d-flex justify-content-center mt-50 mb-50">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h1 class="form-title">Sign Up</h1><br><br>
               
                <%= simple_form_for :user do |f| %>
                    <%=f.input :name, label: false, :placeholder => "Name", input_html: {class: "form-control", required: true} %><br>
                    <%=f.input :email, label: false, :placeholder => "Email", input_html: {class: "form-control", required: true}  %><br>
                    <%=f.input :password, hint: "Password must be at least 6 characters", label: false, :placeholder => "Password", input_html: {class: "form-control", required: true}%><br>
                    <%=f.input :password_confirmation, label: false, :placeholder => "Verify Password", input_html: {class: "form-control", required: true}%><br>

                    <h3 class="form-title text-muted">Select an option.</h3><br>
                    <%= f.input :type, as: :radio_buttons, collection: user_types, wrapper: :horizontal_collection_inline, :label => "", input_html: {class: "mx-auto", required: true} %>
                    
                    <br><%= f.button :submit, class: "text-white btn bg-blue btn-block shadow-sm", value: "Create Account" %>

                <%end%>
            </div>
        </div>
    </div>
</div>

