<div class="container">
    <div class="col-md-6 mx-auto">
        <h1 class="form-title"><%=@user.name.capitalize%>'s Owner Profile</h1>

        <%= simple_form_for :user, url: users_path(@user), html: { method: "patch" } do |f| %>
            <%= render 'users/user_info' %>   
            
            <%= f.input :home_access_info, as: :text %>
            <br><%= f.button :submit, class: "btn-primary bg-blue", value: "Update Profile"%>
        <% end %>
    </div>
</div>
