<h1>Create your <%=Owner %> Profile</h1>

<%= simple_form_for :user, url: '/users' do |f| %>

    <%=f.hidden_field :type, :value=>params["type"] %>  

    <%= render 'users/user_info' %>   
    
    <%= f.input :home_access_info, as: :text %>
    <%= f.button :submit, class: "btn-primary"%>

    
<% end %>
