<!-- #USERS -->
<div class="container">
    <div class="col-md-6 mx-auto">
        <h1 class="form-title"><%=@user.name.capitalize%></h1>
        <h3 class="subtitle"><%=@user.type%></h3>

        <div class="user_info">
            <p>Email: <%=@user.email%></p>
            <p>Address:</p>
                <p><%=@user.street_address%></p>
                <p><%=@user.city %>, <%=@user.state%></p>
                <p><%=@user.zip%></p>
            <p>Phone Number: <%=@user.phone_number%></p>
            <%if @user.type == "Owner"%>
                <p>Home Access Information:</p>
                <p><%=@user.home_access_info%></p>
            <%end%>
            <%if @user.type == "Sitter"%>
                <p>Bio:</p>
                <p><%=@user.bio%></p>
                <p>Rate: <%=@user.rate%></p>
            <%end%>
        </div>
        <%=link_to "Edit Profile", edit_user_path(@user)%>
    </div>
</div>