<div class="container">
    <div class="col-md-6 mx-auto">
        <h1 class="form-title"><%=@user.name.capitalize%>'s Sitter Profile</h1>

        <%= simple_form_for :user, url: user_path(@user), html: { method: "patch" } do |f| %>

            <%= render "users/user_info", f: f %>
        
            <%= f.input :bio, as: :text %>
            <%= f.input :rate %>
            <br><%= f.button :submit, class: "btn-primary bg-blue", value: "Update Profile"%>
        <% end %>  
    </div>
</div>


    




