<div class="container">
    <div class="col-md-6 mx-auto">
        <h1 class="form-title"><%=@user.name.capitalize%>'s Sitter Profile</h1>
        <hr class="mb-30">

        <%= simple_form_for :user, url: user_path(@user), html: { method: "patch" } do |f| %>

            <%= render "users/user_info", f: f %>
        
            <%= f.input :bio, as: :text, placeholder: "Owners will be able to view this on your Sitter profile.", input_html: {:rows => 5, class: "form-control", required: true } %>
            
            <%=f.label :rate%>
            <div class="input-group mb-3">
                <span class="input-group-text">$</span>
                <%= f.input :rate, as: :integer, label: false, placeholder: "00", input_html: {min: 0, class: "form-control", required: true } %> 
                <span class="input-group-text">/visit</span>
            </div> 
            
            <br><%= f.button :submit, class: "btn-primary bg-blue", value: "Update Profile"%><br><br>
        <% end %>  
    </div>
</div>

 