<h1>Create your Sitter Profile</h1>

<%= simple_form_for :user, url: '/users' do |f| %>

    <%=f.hidden_field :type, :value=>params["type"] %>

    <%= render "users/user_info" %>
   
    <%= f.input :bio, as: :text %>
    <%= f.input :rate %>
    <%= f.button :submit, class: "btn-primary"%>
<% end %>