<div class="container">
    <div class="col-md-6 mx-auto">
        <h1 class="form-title"><%=@sitter.name.capitalize%></h1>
        <h5 class="form-title"><%=@sitter.city.capitalize%>, <%=@sitter.state%> --- <%=@sitter.rate%></h5>
        <hr class="mb-30">
        <p>Bio: <%=@sitter.bio%></p>
        <p>Rating: (sitter rating)</p> 
        <p>Reviews: (list reviews)</p>
        

       
    </div>
</div>