<div class="row d-flex justify-content-center mt-50 mb-50">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h1 class="form-title"><%=@sitter.name.capitalize%></h1>
                <section class="profile-image">
                    <%if @sitter.image.attached?%>
                        <%= image_tag @sitter.image, width:"100", height: :auto %>
                    <%else%>
                        <%= image_tag ("default_user_image.png"), size: "100x100" %>
                    <%end%>
                </section><br>
                <h5 class="form-title text-muted"><%=@sitter.city.capitalize%>, <%=@sitter.state%>  |  <%=@sitter.rate%></h5>
                <hr class="mb-30">
                <h6 class="card-title">Meet <%=@sitter.name.capitalize%>:</h6>
                <p> <%=@sitter.bio%></p>
                <hr class="mb-30">
        
                <%if !@sitter.reviews.empty?%>
                    <h6 class="card-title">What others have to say:</h6>
                        <%@sitter.reviews.each do |review|%>
                            <ul> 
                                <li><%=Owner.find_by(id: review.owner_id).name.capitalize%> said: <%=review.review%></li>
                            </ul>
                        <%end%>
                <%else%>
                    <h6 class="card-title text-muted">No feedback currently available.</h6>
                <%end%>
                <h6 class="card-title">Have some feedback?</h6>
                <%=render 'reviews/new'%>
                <hr class="mb-30">
                
                <a class="text-white btn bg-blue btn-block shadow-sm right-align" href=<%=new_sitter_job_path(@sitter)%>>Request Services</a>
            </div>
        </div>
    </div>  
</div>

