
<div class="d-md-flex h-md-100 align-items-center">
	<div class="col-md-6 p-0 bg-blue h-md-100">
		<div class="text-white d-md-flex align-items-center h-100 p-5 text-center justify-content-center">
			<div class="logoarea pt-5 pb-5">
				<h1 class="mb-0 mt-3 display-4">PetMates</h1>
				<h4 class="mb-4 font-weight-light">Connect With Trusted Pet Sitters In Your Area</h4>
				<a class="btn btn-outline-light btn-lg btn-round" href="/signup">Sign Up</a>
			</div>
		</div>
	</div>
	<div class="col-md-6 p-0 bg-white h-md-100 loginarea">
        <div class="d-md-flex align-items-center h-md-100 p-5 justify-content-center">
			<div class="border rounded p-5">
                <h3 class="mb-4 text-center">Log In</h3>
				<!---#TODO: add error messages--->
                <%= simple_form_for(@user, url: '/login') do |f| %>
                    <%= f.input :email, placeholder: "E-mail", label: false %><br>
                    <%= f.input :password, placeholder: "Password", label: false %>
                                    
                    <br><%= f.button :submit, class: "text-white btn bg-blue btn-round btn-block shadow-sm", value: "Log In" %>
					<hr class="mb-30">
					<%= link_to "Log In with Google", '/auth/google_oauth2' %>
                <%end%>
			</div>       
        </div>
    </div>
</div>
    

