<div class="row d-flex justify-content-center mt-50 mb-50">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h1 class="form-title">Leave a Review for <%=@sitter.name.capitalize%></h1>
                <section class="profile-image">
                    <%if @sitter.image.attached?%>
                        <%= image_tag @sitter.image, size: "100x100" %>
                    <%else%>
                        <%= image_tag ("default_user_image.png"), size: "100x100" %>
                    <%end%>
                </section><br>
                <hr class="mb-30">
                <%= simple_form_for :review, url: sitter_reviews_path(@sitter), html: { method: "post"} do |f| %>
                    <%= f.hidden_field :sitter_id, :value => @sitter.id %>
                    <%= f.hidden_field :owner_id, :value => @user.id %>
                    <div class="star-cb-hover">
                    <%= f.collection_radio_buttons :rating, [[5], [4], [3], [2], [1]], :first, :last, item_wrapper_tag: 'false', boolean_style: :inline do |b| %>
                        <%= b.radio_button + b.label {'☆'} %>
                    <% end %>
                    </div>
                    <%= f.input :rating, as: :range, input_html: { step: 5 } %>
                    #TODO: Stars
                    <%=f.input :review, label: false, as: :text, :placeholder => "Write your review here...", input_html: {class: "form-control", required: true} %>
                    <br><%= f.button :submit, class: "text-white btn-sm bg-blue btn-block shadow-sm", value: "Submit Review" %>
                <%end%>
            </div>
        </div>
    </div>
</div>

